[submodule "meta-xilinx"]
	path = meta-xilinx
	url = git@github.com:Xilinx/meta-xilinx.git
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git@github.com:openembedded/meta-openembedded.git
