[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
[submodule "meta-xilinx"]
	path = meta-xilinx
	url = https://github.com/thebigG/meta-xilinx.git
